
* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #EFF2F1;
}

td {
    width: 125px;
    min-width: 80px;
}
  
#ttt_board {
    background-color: lightgray;
}

#ttt_board td {
    height: 125px;
    min-height: 80px;
}

